@import "./../../assets/variables.scss";

.shell-container {
  display: grid;
  grid-template-columns: $nav-width auto;
  grid-template-areas:
    "navigation-area content-area";
}

.navigation-area {
  grid-area: navigation-area;
}

.content-area {
  grid-area: content-area;
}
