<div class="h1">
  Task Edit
</div>
<div class="h5">
  Details of the selected task. You can edit it in the fields below.
</div>
<div>
  {{form.getRawValue() | json}}
</div>

<p-card>
  <form class="d-grid" (submit)="saveTask()">
    <div class="row pb-2">
      <label for="id" class="col col-form-label">ID</label>
      <div class="col-sm-10">
        <textarea type="text" class="form-control" id="id" [formControl]="controls.id"></textarea>
      </div>
    </div>

    <div class="row pb-2">
      <label for="question" class="col col-form-label">Question</label>
      <div class="col-sm-10">
        <textarea type="text" class="form-control" id="question" [formControl]="controls.question"></textarea>
      </div>
    </div>

    <div class="row pb-2">
      <label for="solution" class="col col-form-label">Solution</label>
      <div class="col-sm-10">
        <textarea type="email" class="form-control" id="solution" [formControl]="controls.solution"></textarea>
      </div>
    </div>

    <div class="row pb-2">
      <div class="col">
        <label for="classLevel">Class Level</label>
        <select class="form-control" id="classLevel" [formControl]="controls.metadataClass">
          <option *ngFor="let classLevelOption of examTaskClassLevelOptions">{{classLevelOption}}</option>
        </select>
      </div>
      <div class="col">
        <label for="subject">Subject</label>
        {{examTaskSubjectOptions | json}}
        <select type="text" class="form-control" id="subject" [formControl]="controls.metadataSubject">
          <option *ngFor="let examTaskSubjectOption of examTaskSubjectOptions">{{examTaskSubjectOption | titlecase}}</option>
        </select>
      </div>
    </div>

    <div class="d-flex justify-content-end pt-4">
        <p-button type="submit" class="">Save</p-button>
    </div>

  </form>
</p-card>
