<form class="d-grid" [formGroup]="subTaskForm">
  <div class="row pb-2">
    <div class="col d-flex flex-column">
      <label for="question">{{ "taskEdit.subtasks.question" | translate}}</label>
      <p-editor formControlName="question"></p-editor>
    </div>
    <div class="col d-flex flex-column">
      <label for="solution">{{ "taskEdit.subtasks.solution" | translate}}</label>
      <p-editor formControlName="solution"></p-editor>
    </div>
    <div class="col-auto d-flex align-items-center end">
      <p-confirmPopup></p-confirmPopup>
      <button pButton (click)="deleteSubTask($event)" icon="pi pi-trash" [label]='"taskEdit.subtasks.deleteItem" | translate'
              class="p-button-secondary"></button>
    </div>
  </div>
</form>
