<div class="h2">
  {{ "taskList.titel" | translate }}
</div>
<div>
  {{ "taskList.subtext" | translate }}
</div>

<!--{{ (taskList) | json }}-->
<br>
<div class="d-flex justify-content-end">
  <p-button pRipple (click)="createNewTask()"
            class="p-button-success" [label]=' "taskList.createNewTask" | translate' icon="pi pi-plus"></p-button>
</div>


<p-table *ngIf="taskList as tasks" [value]="tasks">
  <ng-template pTemplate="header">
    <tr>
      <!--      <th>Id</th>-->
      <th>{{ "taskList.table.context" | translate}}</th>
      <th>{{ "taskList.table.subject" | translate}}</th>
      <th>{{ "taskList.table.classLevel" | translate}}</th>
      <th>{{ "taskList.table.numberOfSubtasks" | translate}}</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-task>
    <tr>
      <!--      <td>{{ task.id }}</td>-->
      <td>{{ task.context.description }}</td>
      <td>{{ task.metadata.subject }}</td>
      <td>{{ task.metadata.classLevel }}</td>
      <td>{{ task.subtasks.length }}</td>
      <td class="flex-row">
        <button
          pButton
          pRipple
          type="button"
          class="p-button-secondary"
          icon="pi pi-pencil"
          (click)="editTask(task)"
        ></button>
        <span class="px-2"> </span>
        <p-confirmPopup></p-confirmPopup>
        <button
          pButton
          pRipple
          type="button"
          class="p-button-danger"
          icon="pi pi-trash"
          (click)="deleteTask($event, task)"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table>

