<form [formGroup]="examTaskForm">
  Team Name: {{examTaskForm.controls['id'].value}}

  <p>Players:</p>
  <button color="primary" (click)="addSubtask()">Add Player</button>
  <ul>
    <li *ngFor="let subtask of subtasks?.controls; let i = index">
      <app-exam-sub-task
        [index]="i"
        [subTaskForm]="$any(subtask)"
        (deleteSubTask)="deleteSubtask($event)"
      ></app-exam-sub-task>
    </li>
  </ul>

  <button type="submit" color="accent" (click)="saveExamTask()" [disabled]="examTaskForm.invalid">
    Submit
  </button>
  <pre>Parent Form Status: <span class="status">{{examTaskForm.status}}</span></pre>
</form>

{{examTaskForm.getRawValue() | json}}
