<div class="h2">
  Task Edit
</div>

{{ formGroup.getRawValue() | json}}

<div>
  <form class="d-grid" [formGroup]="formGroup">
    <p-card class="d-grid pb-2">
      <h5>Meta Data</h5>
      <input [formControl]="controls.id">
      <div class="row pb-2">
        <div class="col d-flex flex-column">
          <label for="metadataTags">metadataTags</label>
          <input [formControl]="controls.metadataTags">
        </div>
        <div class="col d-flex flex-column">
          <label for="metadataClassLevel">metadataClassLevel</label>
          <select [formControl]="controls.metadataClassLevel">
            <option *ngFor="let classLevelOption of examTaskClassLevelOptions"
                    [value]="classLevelOption">{{classLevelOption}}</option>
          </select>
        </div>
        <div class="col d-flex flex-column">
          <label for="metadataSubject">metadataSubject</label>
          <select [formControl]="controls.metadataSubject">
            <option *ngFor="let examTaskSubjectOption of examTaskSubjectOptions"
                    [value]="examTaskSubjectOption">{{examTaskSubjectOption}}</option>
          </select>
        </div>
      </div>
    </p-card>

    <p-card class="d-grid pb-2">
      <h5>Context</h5>
      <div class="d-flex w-100">
        <div class="d-flex flex-column">
          <label for="contextImage">contextImage</label>
          <p-image height="300px" src="assets/images/bg/bg1.jpg"></p-image>
          <input [formControl]="controls.contextImage">
        </div>
        <div class="d-flex flex-column w-100">
          <label for="contextDescription">contextDescription</label>
          <input [formControl]="controls.contextDescription">
        </div>
      </div>
    </p-card>

    <p-card class="pb-2 d-flex flex-column">
      <h5>SUBTASKS {{controls.subtasks.length}}</h5>

      <div *ngFor="let subtask of controls.subtasks.controls; let i = index">
        <app-exam-sub-task
          [index]="i"
          [subTaskForm]="subtask"
          (delete)="deleteSubtask($event)"
        ></app-exam-sub-task>
      </div>
      <button pRipple pButton color="primary" (click)="addSubtask()" class="p-button-info">Add Subtask</button>
    </p-card>

    <div class="d-flex justify-content-end pt-4">
      <p-confirmPopup></p-confirmPopup>
      <button pRipple pButton (click)="abortTaskEdit($event)" class="p-button-text" label="Abort"></button>
      <span class="px-3"> </span>
      <button pRipple pButton (click)="saveExamTask()" class="p-button-success" label="Save"></button>
    </div>
  </form>
</div>
