<h5>Addons</h5>
<div class="grid p-fluid">
  <div class="col-12 md:col-4">
    <p-table [value]="taskList">
      <ng-template pTemplate="header">
        <tr>
          <th>Id</th>
          <th>titel</th>
          <th style="width: 8rem"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-task>
        <tr>
          <td>{{ task.id }}</td>
          <td>{{ task.titel }}</td>
          <td style="text-align: center">
            <a routerLink="/first-component" routerLinkActive="active" ariaCurrentWhenActive="page">First Component</a>
            <button
              pButton
              type="button"
              class="p-button-secondary"
              icon="pi pi-cog"
              (click)="openDetailView(task)"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
