<div class="d-flex flex-column justify-content-between h-100">
  <div class="overflow">
    <a routerLink="/welcome" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <img src="assets/images/logos/logo.png"/>
      <span class="fs-4">{{ "app.titel" | translate }}</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li *ngFor="let menuEntry of menuItems" class="nav-item pb-2">
        <a
          [routerLink]="menuEntry.path !== '' ? [menuEntry.path] : null"
          class="nav-link menu-item"
          aria-current="page"
        >
          <i [class]="menuEntry.icon"></i>
          {{menuEntry.title | translate}}
        </a>
      </li>
    </ul>
  </div>
  <div>
    <hr>
    <div class="d-flex flex-row justify-content-between align-content-center">
      <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2"
         data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>Andi</strong>
      </a>
    </div>
  </div>
</div>
