.sidebar-nav {
  height: 100%;
  padding: 2rem 2rem 2rem;
  overflow-y: auto;
  flex-grow: 1;
}

.menu-category {
  display: flex;
  color: var(--surface-900);
  font-weight: 700;
  -webkit-user-select: none;
  padding: 0.5rem 0.25rem;
  font-size: 0.857rem;
  text-transform: uppercase;
}

.menu-items {
  padding: 0 0 1rem;
  display: flex;
  flex-direction: column;

  a {
    padding: 0.5rem 0.75rem;
    text-decoration: none;
    cursor: pointer;
    border-radius: 6px;
  }
  a:hover {
    background-color: #f6f9fc;
  }
  a:active {
    border: black;
    color: black;
  }
}

